parameters:
    level: max
    checkMissingIterableValueType: false
    paths:
        - src
    ignoreErrors:
        # Failed to detect magic method in Predis\Client
        - '#Call to an undefined method Predis\\Client\:\:flushAll\(\)#'
        - '#Call to an undefined method Predis\\Command\\Processor\\ProcessorInterface\:\:setPrefix\(\)#'
